:root{
    --branding-color:#6C63FF;
    --secondary-color:#f9f7fe;
    --heading-font-family:"Playfair Display",serif;
    --default-font-family:"Poppins",sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: #000;
    font-family: var(--heading-font-family);
    font-weight: 700;
}
h1{
    font-size: 96px;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 48px;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
html,body {
    font-family: var(--default-font-family);
    max-width:  100%;
    overflow-x: hidden;
}


.hero{
    background-color:var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
    
}
.hero p{
    color: #272142;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
}
.hero h2{
    color: #272142;
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}

.content h1{
    font-size: 64px;
    line-height: 80px;
}
.content h2{
    font-size: 18px;
    font-family:var(--default-font-family) ;
}
.content h3{
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}
.content p{
font-size: 14px;
}
.content-container img{
    border-radius: 20px;
}
.content-container{
    padding: 60px 40px;
}
.content{
    margin:30px
}
.btn-branding{
    padding: 15px 30px;
    border-radius: 4px;
    background-color:var(--branding-color) ;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.btn-branding-outline{
    color:var(--branding-color);
    padding: 15px 30px;
    border-radius: 4px;
    border:1px solid  var(--branding-color);
}
.btn-branding-outline:hover {
    background: var(--branding-color);
    color: white;
}
img{
    width: 560px;
    height: 560px;
}

.logo {
    width: 50px;
    max-height: 50px;
    padding-left: 5px;
}
nav{
    padding:20px 0;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left:10px;
}
nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}
nav a:hover,nav li.active a{
    color: var(--branding-color);
}
footer{
    margin:40px 0;
} 
footer .contact-box{
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}
.contact-box p{
    margin: 0;
}
.email-link{
    color:black;
    font-size: 18px;
    text-decoration: none;
}
.email-link:hover{
    color:var(--branding-color);
}
footer .social-link a{
    margin: 0 20px;
    background-color: var(--secondary-color);
    padding: 10px 13px;
    border-radius: 50%;
    font-size: 18px;
    color: var(--branding-color);
}
footer .social-link a:hover{
    color:white;
    background-color: var(--branding-color);
}
@media(max-width:900px){
    h1,h2{
        font-size:42px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .content-container{
        text-align: center;
        padding:0;
    }
    .content-container img{
        width: auto;
        height: 300px;
    }
    .logo{
        width: 30px;
        height: 40px;
    }
    nav li{
        margin-left: 5px;
        margin-right: 5px;
        
    }
}

